.login
  .content-home
    .clouds
    .stars
    .twinkling
    .home-text
      %h1.home
        %i.fa.fa-cogs
        ArchinotesX
      %h3
        An ArcOps framework for every software Arquitect
      %hr.intro-divider
      %div.list-inline.intro-social-buttons
        %a.btn.btn-default.btn-lg{:href => "https://github.com/imTachu/ArchinotesX"}
          %i.fa.fa-github.fa-fw
          %span.network-name Github
